/*-------------------footer-------------------*/
.footer {
    background-color: var(--imp-text-color);
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    .footer-copywright {
      text-align: center;
      padding: 0;
      width: 100%;
      h3 {
        font-size: 1rem;
        color: #fcfcfc;
        margin: 0.5em 0;
        padding: 0;
        span {
          color: #000;
          font-weight: 700;
        }
      }
    }
  }