#root {
  margin: 0 auto;
  width: 100%;
}
html {
  --section-background-color: linear-gradient(to bottom left, rgba(17, 16, 16, 0.582), rgba(12, 8, 24, 0.904));

  /* --image-gradient: linear-gradient(270deg,#1b1429,#140f23); */
  --theme-gradient: linear-gradient(to bottom right, #ff6f61, #f6d365);
  --dark-gradient: rgb(17 24 39);

  --imp-text-color: #912d09;
  --imp-dark-text-color: rgb(45 212 191/1);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Courier New", Courier, monospace;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  cursor: none;
  background: var(--theme-gradient);
  background-position: top center;
  background-repeat: no-repeat;
  transition:
    background-color 0.5s ease-out,
    color 0.3s ease-out;
}
h1,
h3 {
  color: #fff;
  padding-bottom: 40px;
  font-weight: bold;
}
a {
  outline: none;
  text-decoration: none;
  cursor: none;
}
b,
span {
  color: var(--imp-text-color);
}
.dark-mode {
  background: rgb(17 24 39);
  color: var(--imp-dark-text-color);

  #cursor-dot {
    border: 2px solid var(--imp-dark-text-color);
  }

  &::-webkit-scrollbar-track {
    background: rgb(16 30 60);
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--imp-dark-text-color);
  }
  .theme-container .theme {
    background-color: var(--imp-dark-text-color);
  }
  .color-font,
  b,
  span {
    color: var(--imp-dark-text-color) !important;
  }
  svg {
    fill: var(--imp-dark-text-color);
    path {
      fill: var(--imp-dark-text-color);
    }
  }
  .navbar {
    .nav-brand {
      margin: 0;
    }
    .nav-item {
      a::after {
        background: var(--imp-dark-text-color);
      }
    }
    .navbar-toggler span {
      background-color: var(--imp-dark-text-color);
    }
  }
  .sidebar {
    .bg {
      .links a {
        color: var(--imp-dark-text-color);
      }
    }
  }
  .home-content .home-header .role,
  .contact .role {
    border-left-color: var(--imp-dark-text-color);
  }
  .home-content .slidingTextContainer {
    color: #ffffff08;
  }
  .cta {
    a {
      background-color: var(--imp-dark-text-color);

      &:hover {
        background: rgb(5 87 76 / 51%);
      }
    }
    .btn.secondary-btn {
      border-bottom-color: var(--imp-dark-text-color);
    }
  }
  .animation_main_div {
    .circle {
      background: var(--imp-dark-text-color);
    }
  }
  .skills {
    .tech-skills {
      .tech-icons {
        border: 1.7px solid var(--imp-dark-text-color);
        box-shadow: 4px 4px 4px 0px rgba(45, 212, 191, 0.52);

        &:hover {
          transform: scale(1.05);
          border: 2.2px solid var(--imp-dark-text-color);
          box-shadow: 3px 3px 3px 3px var(--imp-dark-text-color);
        }
      }
    }
  }
  .box {
    .wave {
      background: rgba(2, 182, 247, 0.755);
    }
    .wave.-two {
      background: rgb(21, 210, 112);
    }
    .wave.-three {
      background: var(--imp-dark-text-color);
    }
  }
  .experience-conatiner {
    .milestones {
      h2 {
        color: var(--imp-dark-text-color);
      }
      h5 {
        color: #fff;
      }
    }
    .work-cycle {
      &:before {
        border-color: rgba(17, 220, 193, 0.815);
      }
      .work-card {
        // background-color: rgb(3 73 63);
        background: var(--imp-dark-text-color);
        box-shadow: 4px 4px 4px 0px rgb(45 212 191 / 52%);
      }
    }
    .experience-content {
      border: 1.7px solid var(--imp-dark-text-color);
      box-shadow: 4px 4px 4px 0px rgb(45 212 191 / 52%);
      ul {
        li {
          border: 1.7px solid var(--imp-dark-text-color);
          box-shadow: 4px 4px 4px 0px rgb(45 212 191 / 52%);
        }
      }
      img {
        background-color: var(--imp-dark-text-color);
      }
      h3 {
        color: var(--imp-dark-text-color);
      }
    }
  }
  .projects-section {
    .projects-gallery .prt-card {
      box-shadow: 4px 4px 4px 0px rgba(45, 212, 191, 0.52);
    }
  }
  .contact {
    a {
      color: var(--imp-dark-text-color);
    }
  }
  .contact-form {
    box-shadow: 0px 0px 15px 8px rgba(45, 212, 191, 0.52);

    .inputs {
      input,
      textarea {
        box-shadow: 0px 0px 5px 2px rgba(45, 212, 191, 0.52);
        background: rgb(5 87 76 / 51%);

        &:focus {
          background: rgba(3, 73, 63, 0.803);
        }
      }
    }
    .btn {
      background: var(--imp-dark-text-color);

      &:hover {
        background: rgb(5 87 76 / 51%);
      }
    }
  }
  .rings {
    .ring {
      &:nth-child(1) {
        border-color: var(--imp-dark-text-color);
      }
      &:nth-child(2) {
        border-color: rgb(21, 210, 112);
      }
      &:nth-child(3) {
        border-color: rgb(2, 182, 247);
      }
    }
  }
  .link-section {
    .social-content {
      ul {
        li {
          .social-icons {
            &:before {
              background: var(--imp-dark-text-color);
            }
            &:hover:before {
              box-shadow: 0 0 15px var(--imp-dark-text-color);
            }
            &:hover {
              color: var(--imp-dark-text-color);
              box-shadow: 0 0 5px var(--imp-dark-text-color);
              text-shadow: 0 0 2px var(--imp-dark-text-color);
            }
          }
        }
      }
    }
  }
  .progress-wrap {
    background-color: var(--imp-dark-text-color);
  }
  .footer {
    background-color: rgb(16 30 60);
  }
}

span {
  color: var(--imp-text-color);
}
section,
.resume {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 80px;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--theme-gradient);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--imp-text-color);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
:root {
  --color-cursor: 220, 90, 90;
  --cursor-outline-shade: 0.3;
  --cursor-size: 25px;
  --cursor-outline-size: 12px;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--imp-text-color);
  position: fixed;
  z-index: 999;

  @include mobile {
    display: none;
  }
}

#cursor-dot {
  z-index: 1050;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition:
    opacity 0.15s ease-in-out,
    transform 0.15s ease-in-out;
}

#cursor-dot {
  width: var(--cursor-size);
  height: var(--cursor-size);
  background-color: transparent;
  border: 2px solid var(--imp-text-color);
}

.theme-container {
  position: relative;
  width: 100%;
  .theme {
    border-radius: 50%;
    background-color: var(--imp-text-color);
    padding: 10px;
    margin-left: 20px;
    position: absolute;
    right: 2rem;
    top: -78px;

    &:after {
      content: "";
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      top: 0;
      left: 0;
      padding: 7px;
      box-shadow: 0 0 0 2px #fff;
      transition:
        transform 0.4s,
        opacity 0.2s;
      transform: scale(0.8);
      opacity: 0;
    }

    &:hover:after {
      transform: scale(1.2);
      opacity: 1;
    }
    img {
      width: 40px;
    }
  }
}

.flex-column {
  flex-direction: column !important;
}
.align-center {
  align-items: center !important;
}
