/*-------------------Responsive-------------------*/
@media (max-width: 1199px) {
  .navbar .nav-item a {
    font-size: 15px;
  }
  .home-content {
    .home-header {
      .Typewriter__wrapper {
        font-size: 1.8rem;
      }
    }
  }
  .home-about-section {
    .sec2-column {
      align-items: center;
      .myAvtar {
        padding: 0;
      }
    }
  }
  .skills {
    .tech-skills {
      grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
      .tech-icons {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  .experience-conatiner {
    .experience-content {
      max-width: 85%;
      p {
        max-width: 90%;
      }
      ul li {
        padding: 5px 0px;
      }
    }
  }
  .progress-wrap {
    right: 10px;
    bottom: 30px;
  }
}

@media (max-width: 1023px) {
  section {
    padding-top: 80px;
  }
  .navbar {
    .theme {
      &:hover::after {
        opacity: 0;
      }
    }
  }
  .navbar {
    padding: 10px;
    font-size: 20px !important;
    .navbar-nav {
      align-items: flex-start;
      max-width: fit-content;
      margin: 0 auto;
    }
    .nav-item a {
      padding: 0.7rem 1rem !important;
      &::after {
        display: none;
      }
    }
    .logo {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
    }
    .theme {
      position: absolute;
      right: 6rem;
      top: 15px;
      &:hover::after {
        opacity: 0;
      }
    }
  }
  .home-content {
    padding-bottom: 50px;
    .home-header {
      .heading-name {
        .main-name {
          font-size: 2.5rem;
        }
      }
      .Typewriter__wrapper {
        font-size: 20px;
      }
    }
  }
  .home-about-section {
    padding-bottom: 0;
    padding-top: 50px;
    .sec2-column {
      flex-direction: column;
      align-items: center;
    }
    .home-about-description {
      padding-top: 40px;
      width: 100%;
      .home-about-body {
        font-size: 18px;
        padding-top: 10px;
      }
    }
    .myAvtar {
      padding: 0;
      .img-fluid {
        transform: translateX(50%);
        width: 50%;
      }
    }
  }
  .projects-section {
    padding-top: 8rem;
    .cta {
     justify-content: center;
   }

  }
}

@media (max-width: 767px) {
  section {
    padding-top: 0;
  }
  h1 {
    font-size: 28px !important;
  }
  .navbar {
    .theme {
      right: 5rem ;
    }
  }
  .home-content {
    padding-top: 5rem;
    .img-fluid {
      padding-top: 10px;
    }
    .home-header {
      .heading-name {
        font-size: 25px;
        padding-top: 0;
        
        .main-name {
          font-size: 28px;
        }
      }
      .Typewriter {
        padding-top: 0;
      }
      .Typewriter__wrapper {
        font-size: 20px;
      }
      .Typewriter__cursor {
        display: none;
      }
    }
  }
  .animation_main_div {
    right: -30%;
    top: -2%;
  }
  .home-about-social {
    padding: 70px 0;
  }
  .skills {
    h1 {
      padding-bottom: 10px;
    }
    .tech-skills {
      grid-template-columns: repeat(auto-fit, minmax(40%, 2fr));
    }
  }
  .experience-conatiner {
    h1 {
      padding-bottom: 0;
    }
    .experience-content {
      img {
        width: 75px;
      }
      h1 {
        padding-bottom: 10px;
      }
      ul {
        grid-template-columns: repeat(auto-fit, minmax(120px, 5fr));
      }
      h4, ul li,
      p {
        font-size: 15px;
        padding: 5px 0px;
      }
    }
  }
  .projects-section {
    padding-top: 14rem;

    .projects-gallery {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  .contact-form {
    margin-top: 30px;
  }
  .contact {
    padding-top: 30px;
  }
  .rings {
    bottom: 30%;
    left: 50%;
    z-index: -10;
  }
  .link-section .social-content {
    padding: 50px 0;
    ul {
      padding: 0 0 15px;
    }
  }
  .resume-section {
    padding-top: 70px;

    .react-pdf__Page__annotations.annotationLayer {
      display: none;
    }
    .react-pdf__Page__canvas {
      width: 300px;
    }
  }

  .footer {
    .footer-copywright {
      h3 {
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }
}
