/*-------------------resume-------------------*/
.resume-section {
    position: relative;
    padding-top: 110px;
    color: white;
    .resume {
      padding-top: 50px;
      padding-bottom: 50px;
      justify-content: center;
      & > div {
        gap: 20px;
      }
      .resume-title {
        font-size: 2rem;
        font-weight: 700;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .react-pdf__Page__textContent.textLayer {
        display: none;
      }
    }
  }
  