/*-------------------section 2-------------------*/
.home-about-section {
  position: relative;
  padding-bottom: 100px;
  padding-top: 120px;
  .sec2-column {
    align-items: center;
    .myAvtar {
      justify-content: center;
      .img-fluid {
        transform: translateX(90px);
      }
    }
  }

  .home-about-description {
    color: white;
    padding-bottom: 20px;
    text-align: center;
    .home-about-body {
      font-size: 1.2rem;
      text-align: left;
    }
  }
}
