#root {
  margin: 0 auto;
  width: 100%;
}

html {
  --section-background-color: linear-gradient(to bottom left, rgba(17, 16, 16, 0.582), rgba(12, 8, 24, 0.904));
  /* --image-gradient: linear-gradient(270deg,#1b1429,#140f23); */
  --image-gradient: linear-gradient(to bottom right, #ff6f61, #f6d365);
  --dark-gradient: rgb(17 24 39);
  --imp-text-color: #912d09;
  --imp-dark-text-color: rgb(45 212 191/1);
}

body {
  font-family: "Courier New", Courier, monospace;
  position: relative;
  z-index: 0;
  background: var(--image-gradient);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 30px;
}

.dark-mode {
  background: rgb(17, 24, 39);
  color: var(--imp-dark-text-color);
  /* Handle */
}
.dark-mode::-webkit-scrollbar-track {
  background: rgb(16, 30, 60);
}
.dark-mode::-webkit-scrollbar-thumb {
  background: var(--imp-dark-text-color);
}
.dark-mode .navbar .theme {
  background-color: var(--imp-dark-text-color);
}
.dark-mode .color-font, .dark-mode b, .dark-mode span {
  color: var(--imp-dark-text-color) !important;
}
.dark-mode svg {
  fill: var(--imp-dark-text-color);
}
.dark-mode svg path {
  fill: var(--imp-dark-text-color);
}
.dark-mode .navbar .nav-brand {
  margin: 0;
}
.dark-mode .navbar .nav-item a::after {
  background: var(--imp-dark-text-color);
}
.dark-mode .navbar .navbar-toggler span {
  background-color: var(--imp-dark-text-color);
}
.dark-mode .skills .tech-icons {
  border: 1.7px solid var(--imp-dark-text-color);
  box-shadow: 4px 4px 4px 0px rgba(45, 212, 191, 0.52);
}
.dark-mode .experience-conatiner .experience-content {
  border: 1.7px solid var(--imp-dark-text-color);
  box-shadow: 4px 4px 4px 0px rgba(45, 212, 191, 0.52);
}
.dark-mode .experience-conatiner .experience-content ul li {
  border: 1.7px solid var(--imp-dark-text-color);
  box-shadow: 4px 4px 4px 0px rgba(45, 212, 191, 0.52);
}
.dark-mode .experience-conatiner .experience-content img {
  background-color: var(--imp-dark-text-color);
}
.dark-mode .experience-conatiner .experience-content h3 {
  color: var(--imp-dark-text-color);
}
.dark-mode .link-section .social-content ul li .social-icons:before {
  background: var(--imp-dark-text-color);
}
.dark-mode .link-section .social-content ul li .social-icons:hover:before {
  box-shadow: 0 0 15px var(--imp-dark-text-color);
}
.dark-mode .link-section .social-content ul li .social-icons:hover {
  color: var(--imp-dark-text-color);
  box-shadow: 0 0 5px var(--imp-dark-text-color);
  text-shadow: 0 0 2px var(--imp-dark-text-color);
}
.dark-mode .scroll {
  background-color: var(--imp-dark-text-color);
}
.dark-mode .footer {
  background-color: rgb(16, 30, 60);
}

span {
  color: var(--imp-text-color);
}

section,
.resume {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 120px;
  background: url(../banner-background.png) no-repeat center;
}

/* --------- */
/*Scrollbar   */
/* --------- */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--image-gradient);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--imp-text-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
}

/* ----------------------------Header--------------------- */
.navbar {
  position: fixed;
  transition: all 0.3s ease-out 0s;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.navbar .navbar-toggler {
  position: relative;
  background-color: transparent;
  border-color: transparent;
}
.navbar .navbar-toggler span {
  display: block;
  background-color: var(--imp-text-color);
  height: 3px;
  width: 27px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}
.navbar .navbar-toggler:focus, .navbar .navbar-toggler:active {
  outline: 0;
}
.navbar .navbar-toggler span:nth-child(1), .navbar .navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}
.navbar .navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(135deg);
  opacity: 0.9;
}
.navbar .navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}
.navbar .navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(-135deg);
  opacity: 0.9;
}
.navbar .navbar-nav {
  align-items: center;
}
.navbar .navbar-brand {
  color: var(--imp-text-color);
  font-size: 28px;
  font-weight: bold;
}
.navbar .logo {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
}
.navbar .nav-item {
  position: relative;
  margin-left: 20px;
}
.navbar .nav-item a {
  color: #fff;
  padding: 0.8rem 1rem;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out 0s;
}
.navbar .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 2px;
  width: 0;
  border-radius: 16px;
  background: var(--imp-text-color);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}
.navbar .nav-item a:hover::after {
  width: 100%;
}
.navbar .theme {
  border-radius: 50%;
  background-color: var(--imp-text-color);
  padding: 8px;
  margin-left: 20px;
  position: relative;
}
.navbar .theme:after {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  padding: 7px;
  box-shadow: 0 0 0 4px #fff;
  transition: transform 0.4s, opacity 0.2s;
  transform: scale(0.8);
  opacity: 0;
}
.navbar .theme:hover:after {
  transform: scale(1.2);
  opacity: 1;
}
.navbar .theme img {
  width: 30px;
}

/*-------------------Home-------------------*/
.home-content {
  color: whitesmoke;
  text-align: left;
}
.home-content .home-header {
  padding-top: 80px;
}
.home-content .home-header .heading {
  font-size: 2.4em;
}
.home-content .home-header .heading .wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}
.home-content .home-header .heading-name {
  font-size: 2.5em;
}
.home-content .home-header .heading-name .main-name {
  color: var(--imp-text-color);
}
.home-content .home-header .Typewriter__wrapper {
  font-size: 2.2em;
  color: var(--imp-text-color);
  font-weight: 600;
}
.home-content .home-header .Typewriter__cursor {
  font-size: 2.4em;
  color: #b562d6;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
/*-------------------section 1-------------------*/
.home-about-section {
  position: relative;
  padding-bottom: 70px;
}
.home-about-section .myAvtar {
  justify-content: center;
  padding-top: 15em;
}
.home-about-section .myAvtar .img-fluid {
  transform: translateX(90px);
}
.home-about-section .home-about-description {
  color: white;
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}
.home-about-section .home-about-description .home-about-body {
  padding-top: 50px;
  font-size: 1.2em;
  text-align: left;
}
.home-about-section .home-about-description b,
.home-about-section .home-about-description span {
  color: var(--imp-text-color);
}

/*-------------------section 2-------------------*/
.skills h1 {
  text-align: center;
  color: #fff;
  padding-bottom: 40px;
}
.skills .tech-icons {
  font-size: 4.5em;
  margin: 15px;
  padding: 10px;
  opacity: 0.93;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  border: 1.7px solid var(--imp-text-color);
  box-shadow: 4px 4px 4px 0px rgba(145, 45, 9, 0.4588235294);
  overflow: hidden;
  transition: all 0.4s ease 0s;
}
.skills .tech-icons svg path {
  fill: #fff;
}
.skills .tech-icons h2 {
  color: #fff;
}
/*-------------------section 3-------------------*/
.experience-conatiner h1 {
  text-align: center;
  color: #fff;
  padding-bottom: 40px;
  padding-top: 70px;
}
.experience-conatiner .experience-content {
  font-size: 4.5em;
  margin: 15px;
  padding: 10px;
  opacity: 0.93;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  border: 1.7px solid var(--imp-text-color);
  box-shadow: 4px 4px 4px 0px rgba(145, 45, 9, 0.4588235294);
  overflow: hidden;
  transition: all 0.4s ease 0s;
  color: #fff;
  width: 100%;
  max-width: 500px;
}
.experience-conatiner .experience-content p {
  font-size: 20px;
  max-width: 450px;
  margin: 10px auto;
}
.experience-conatiner .experience-content h3 {
  color: var(--imp-text-color);
}
.experience-conatiner .experience-content img {
  width: 100px;
  border-radius: 50%;
  background-color: var(--imp-text-color);
  padding: 5px;
  margin-bottom: 10px;
}
.experience-conatiner .experience-content ul {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 0;
}
.experience-conatiner .experience-content ul li {
  list-style: none;
  font-size: 20px;
  border: 1.7px solid var(--imp-text-color);
  box-shadow: 4px 4px 4px 0px rgba(145, 45, 9, 0.4588235294);
  border-radius: 5px;
  padding: 5px 25px;
}

/*-------------------section 4-------------------*/
.link-section .social-content {
  text-align: center;
  padding: 100px 0;
  color: #fff;
}
.link-section .social-content ul {
  justify-content: center;
  padding-top: 15px;
  display: inline-block;
  position: relative;
  padding-inline-start: 0;
}
.link-section .social-content ul li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}
.link-section .social-content ul li .social-icons {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  background: rgba(255, 255, 255, 0.972);
  color: var(--imp-text-color);
  border-radius: 50%;
  transition: 0.5s;
}
.link-section .social-content ul li .social-icons:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--imp-text-color);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.link-section .social-content ul li .social-icons:hover:before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--imp-text-color);
}
.link-section .social-content ul li .social-icons:hover {
  color: var(--imp-text-color);
  box-shadow: 0 0 5px var(--imp-text-color);
  text-shadow: 0 0 2px var(--imp-text-color);
}

/*-------------------footer-------------------*/
.footer {
  background-color: var(--imp-text-color);
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 8px;
}
.footer .footer-copywright {
  text-align: center;
  padding: 0;
  width: 100%;
}
.footer .footer-copywright h3 {
  font-size: 1em;
  color: white;
  margin: 0.5em 0;
}
.footer .footer-copywright h3 span {
  color: #000;
  font-weight: 700;
}

/*-------------------resume-------------------*/
.resume-section {
  position: relative;
  padding-top: 110px;
  padding-bottom: 30px;
  color: white;
}
.resume-section .resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}
.resume-section .resume .resume-title {
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}
.resume-section .resume .react-pdf__Page__textContent.textLayer {
  display: none;
}

/*---------------------ScrollToTop---------------*/
.scroll {
  position: fixed;
  z-index: 3;
  display: none;
  bottom: 60px;
  right: 2%;
  width: 50px;
  height: 50px;
  line-height: 75px;
  border-radius: 50%;
  font-size: 17px;
  color: #fff;
  background: var(--imp-text-color);
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 0px 3px #000;
}
.scroll img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}

/*-------------------Responsive-------------------*/
@media (max-width: 1199px) {
  .home-content .home-header .Typewriter__wrapper {
    font-size: 1.8em;
  }
  .home-about-section .sec2-column {
    align-items: center;
  }
  .home-about-section .sec2-column .myAvtar {
    padding: 0;
  }
  .skills .tech-icons {
    width: 12rem;
  }
  .experience-conatiner .experience-content {
    max-width: 85%;
  }
  .experience-conatiner .experience-content p {
    max-width: 90%;
  }
  .experience-conatiner .experience-content ul li {
    padding: 5px 20px;
  }
}
@media (max-width: 1023px) {
  section {
    padding-top: 80px;
  }
  .navbar .theme:hover::after {
    opacity: 0;
  }
  .home-content {
    padding-bottom: 50px;
  }
  .home-content .home-header .Typewriter__wrapper {
    font-size: 20px;
  }
  .home-about-section {
    padding-bottom: 0;
  }
  .home-about-section .sec2-column {
    flex-direction: column;
    align-items: center;
  }
  .home-about-section .home-about-description {
    padding-top: 40px;
    width: 100%;
  }
  .home-about-section .home-about-description .home-about-body {
    font-size: 18px;
    padding-top: 10px;
  }
  .home-about-section .myAvtar {
    padding: 0;
  }
  .home-about-section .myAvtar .img-fluid {
    transform: translateX(50%);
    width: 50%;
  }
}
@media (max-width: 767px) {
  section {
    padding-top: 0;
  }
  h1 {
    font-size: 28px !important;
  }
  .navbar {
    padding: 5px 10px;
    font-size: 20px !important;
  }
  .navbar .nav-item a {
    padding: 0.7rem 1rem !important;
  }
  .navbar .nav-item a::after {
    display: none;
  }
  .navbar .theme {
    position: absolute;
    right: 5rem;
    top: 8px;
  }
  .navbar .theme:hover::after {
    opacity: 0;
  }
  .home-content .img-fluid {
    padding-top: 10px;
  }
  .home-content .home-header .heading-name {
    font-size: 25px;
    padding-top: 0;
  }
  .home-content .home-header .Typewriter {
    padding-top: 0;
  }
  .home-content .home-header .Typewriter__wrapper {
    font-size: 20px;
  }
  .home-content .home-header .Typewriter__cursor {
    display: none;
  }
  .home-about-social {
    padding: 70px 0;
  }
  .skills h1 {
    padding-bottom: 10px;
  }
  .skills .tech-icons {
    margin: 10px 10px 10px 20px;
    width: 100%;
    max-width: 280px;
  }
  .experience-conatiner h1 {
    padding-bottom: 0;
  }
  .experience-conatiner .experience-content img {
    width: 75px;
  }
  .experience-conatiner .experience-content h1 {
    padding-bottom: 10px;
  }
  .experience-conatiner .experience-content ul li,
  .experience-conatiner .experience-content p {
    font-size: 18px;
    padding: 5px 10px;
  }
  .link-section .social-content {
    padding: 50px 0;
  }
  .link-section .social-content ul {
    padding: 0 0 15px;
  }
  .resume-section {
    padding-top: 70px;
  }
  .resume-section .react-pdf__Page__annotations.annotationLayer {
    display: none;
  }
  .resume-section .react-pdf__Page__canvas {
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */